.message
  abbr.timestamp.pull-right(title="#{moment(message.created).format()}") #{moment(message.created).format('HH:mm:ss')}
  img.user-avatar-small(src="#{message._author.avatar.url}")
  if(message.message.substring(0, 1) == '/')
    args = message.message.substring(1).split(' ')
    case args[0]
      when 'me'
        strong(data-role="author", data-user-username="#{message._author.username}") #{message._author.username} 
          span.message-content #{helpers.linkify(args.splice(1, args.length).join(' '))}
      default
        strong(data-role="author", data-user-username="#{message._author.username}") #{message._author.username}:
        span.message-content  !{lexer.output(_.escape(message.message))}
  else
    strong(data-role="author", data-user-username="#{message._author.username}") #{message._author.username}:
    span.message-content  !{lexer.output(_.escape(message.message))}