.btn-group
  if (user)
    if (user.roles.indexOf('editor') >= 0)
      |
      a.btn.btn-mini(href="#", data-action="launch-track-editor", data-track-id="#{track._id}")
        | edit
    if (playlist && ~pindex)
      a.btn.btn-mini(href="#", data-action="remove-track-from-playlist", data-index="#{pindex}", data-track-id="#{track._id}", data-playlist-id="#{playlist._id}")
          i.icon-remove
          |  remove

    if (room && banControls)
      if (user && room._owner && (user._id.toString() === room._owner._id.toString()) || (user && user.roles && ~user.roles.indexOf('admin')))
        a.btn.btn-mini(data-action="ban-track", data-_id="#{track._id}") ban

    if (!disallowPlaylists)
      a.btn.btn-mini(href="#", data-toggle="dropdown") add to 
        span.caret
      ul.dropdown-menu.user-playlists-dropdown(data-for="user-playlists")
        if (user.playlists.length >= 10)
          li(data-action="new-playlist")
            a(href="#create-playlist-modal", data-action="launch-playlist-creator", data-track="#{track._id}") Create New &raquo;
    
        for playlist in user.playlists.sort(function(a, b) { return b.created - a.created; })
          li(data-playlist-id="#{playlist._id}")
            a(data-playlist-id="#{playlist._id}", data-username="#{user.slug}", data-track-id="#{track._id}", data-action="add-track-to-playlist") #{playlist.name}
        li(data-action="new-playlist")
          a(href="#create-playlist-modal", data-action="launch-playlist-creator", data-track="#{track._id}") Create New &raquo;

  a.btn.btn-mini(href="#", data-action="queue-track", data-source="soundtrack", data-id="#{track._id}") &#9835; queue it &raquo;
