tr
  td
    a(href="/#{track._artist.slug}") #{track._artist.name}
  td
    a(href="/#{artist.slug}/#{track.slug}/#{track._id}") #{track.title}
  td #{track.duration}
  //-td played <strong>#{track.plays}</strong> times
  td #{track.plays}
  td
    include track-controls
