extends layout

block content
  .well.content-well
    .pull-right
      form(action="/artists", method="get")
        input(type="text", name="q")

    h1 #{count} #{(count == 1) ? "Artist" : "Artists"} Known
    p Display limited to #{limit} artists.  Pass <code>limit</code> to change this.
    ul
      for artist in artists.sort(function(a, b) { return b.tracks - a.tracks; })
        li
          a(href="/#{artist.slug}")
            img.pull-left.avatar-small(src="#{artist.image.url}")
            | #{artist.name}
            |  with 
            strong #{artist.tracks}
            |  known tracks
