- String.prototype.toHHMMSS = function () {
-   var sec_num = parseInt(this, 10); // don't forget the second parm
-   var hours   = Math.floor(sec_num / 3600);
-   var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
-   var seconds = sec_num - (hours * 3600) - (minutes * 60);
- 
-   if (hours   < 10) {hours   = "0"+hours;}
-   if (minutes < 10) {minutes = "0"+minutes;}
-   if (seconds < 10) {seconds = "0"+seconds;}
- 
-   if (hours != '00') {
-     var time    = hours+':'+minutes+':'+seconds;
-   } else {
-     var time    = minutes+':'+seconds;
-   }
-   return time;
- }
- Number.prototype.toHHMMSS = String.prototype.toHHMMSS;
!!! 5
html(lang="en-US", ng-app="soundtrack-io")
  head
    title #{(page && page.title) ? page.title + ' | ' : ''} soundtrack.io | music for all.
    
    meta(name="google-site-verification", content="YRNN2O5wVHlb-amk2huI5wAk_J3_kDNKUinkzWCRBN0")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

    meta(name="description", content="#{(page && page.description) ? page.description : 'A new way to listen to music with your friends.'}")

    meta(property="og:site_name", content="soundtrack.io")
    meta(property="og:title", content="#{(page && page.title) ? page.title : 'soundtrack.io | music for all.'}")
    meta(property="og:description", content="#{(page && page.description) ? page.description : 'A new way to listen to music with your friends.'}")
    meta(property="og:url", content="ARTICLE_FULL_URL")
    meta(property="og:image", content="ARTICLE_IMAGE_URL")

    if (page && page.type)
      meta(property="og:type", content="#{page.type}")

    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@soundtrackio")

    link(rel="shortcut icon", href="/favicon.ico")

    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/darkstrap-v0.9.0.css")
    //-link(rel="stylesheet", href="/css/bootstrap-custom.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/typeahead.js-bootstrap.css")
    link(rel="stylesheet", href="/css/bootstrap-slider.min.css")
    link(rel="stylesheet", href="/css/introjs.css")
    link(rel="stylesheet", href="/video-js/video-js.min.css")
    link(rel="stylesheet", href="/css/main.css")
    //-link(rel="stylesheet", href="//www.corsproxy.com/www.decisivedesign.com/dev/sio/css/main.css")

    script(src="/js/jquery.min.js")
    script(src="/js/underscore.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/angular.min.js")
    script(src="/js/d3.min.js")
    script(src="/js/typeahead.min.js")
    script(src="/js/moment.min.js")
    script(src="/js/bootstrap-slider.min.js")
    script(src="/js/jquery.cookie.js")
    script(src="/js/jquery.tablesorter.min.js")
    script(src="/video-js/video.dev.js")
    script(src="/js/youtube.js")
    script(src="/js/sockjs-0.3.min.js")
    script(src="/js/app.js")

    base

  body(ng-controller="AppController")

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
            i.icon-bar
            i.icon-bar
            i.icon-bar
          a.brand(href="/")
            img(src="/favicon.ico")
            | #{(room) ? room.name : 'soundtrack.io'}
          .nav-collapse.collapse
            ul.nav
              li
                a(href="/about", ng-class="{active: slug == 'about'}") About
              li
                a(href="/artists", ng-class="{active: slug == 'artists'}") Artists
              li
                a(href="/tracks", ng-class="{active: slug == 'tracks'}") Tracks
              li
                a(href="/sets", ng-class="{active: slug == 'sets'}") Sets
              li
                a(href="/people") People

            ul.nav.pull-right
              if (user)
                li.dropdown
                  a(href="#settings-modal", data-toggle="modal")
                    i.icon-white.icon-cog
                li
                  a(href="/#{user.slug}", data-username="#{user.username}", data-for="user-model")
                    img.user-avatar-small(src="#{user.avatar.url}")
                    | #{user.username}
                li
                  a(href="/logout") Logout
              else
                form.navbar-form(action="/login", method="post")
                  input.span2(type="text", placeholder="Username", name="username")
                  input.span2(type="password", placeholder="Password", name="password")
                  button.btn.btn-primary(type="submit") Sign In &raquo;
                  a.btn(href="/register") Register &raquo;

    .container.module
      if (typeof(flash) != 'undefined')
        .messages
          if (typeof(flash.error) != 'undefined')
            for error in flash.error
              .alert.alert-error !{error}
          if (typeof(flash.info) != 'undefined')
            for info in flash.info
              .alert.alert-info !{info}

      block content

      footer
        .container
          p &#9835; soundtrack.io is a <a href="https://www.gittip.com/for/soundtrack-io/">collaborative</a> online jukebox.  It's a way to listen to music with your friends.  It's also <a href="http://github.com/martindale/soundtrack.io">open-source</a>, as is our <a href="https://play.google.com/store/apps/details?id=io.soundtrack">Android Client</a> (<a href="http://github.com/martindale/soundtrack.io-android">source</a>).
          
          .row
            .span6
              p
                a.btn.btn-default(href="https://chrome.google.com/webstore/detail/soundtrackio/plpfboikjdjiigdfknoohjopodfkenbn") Chrome Extension &raquo;
                |  
                a(class="btn btn-default", href="bitcoin:1Ae7wguPTP8Zm3146opVhay4hUS7NiaxYw", alt="B") Donate 
                  i.fa.fa-bitcoin
                  | itcoin &raquo;
                if (user)
                  |  
                  a(class="btn btn-default", href="//#{config.app.host}/#{user.slug}/sets") Manage Sets &raquo;
                
            .span6
              a(href="/pool") Machine Pool
              |  &bull; 
              a(href="/chat") Chat Logs
              |  &bull; 
              a(href="/history") Play History

    #settings-modal.modal.hide.fade
      .modal-header
        button.close(data-dismiss="modal") &times;
        h3 Settings
      .modal-body
        h4 Music
        if (user && user.profiles && user.profiles.lastfm && user.profiles.lastfm.username && user.profiles.lastfm.updated)
          if (user.preferences.scrobble)
          script.
            $.cookie('scrobblingEnabled', true, { expires: COOKIE_EXPIRES });
          label
            input(type="checkbox", data-action="toggle-scrobble", checked=user.preferences.scrobble)
            |  Enable Scrobbling
        else
          a.btn.btn-danger(href="/auth/lastfm") Enable <img src="/img/last.fm.ico" /> Scrobbling &raquo;

        h4 Content
        label(title="Prefer SFW videos / audio sources for the currently playing track.")
          input(type="checkbox", data-action="toggle-avoid-ads")
          |  Avoid NSFW Content
        label(title="Prefer videos / audio sources that don't have ads.")
          input(type="checkbox", data-action="toggle-avoid-ads")
          |  Avoid Ads [where possible]
        label(title="Prefer sources that don't have an attached video")
          input(type="checkbox", data-action="toggle-video-avoid")
          |  Avoid Videos [where possible]
        label(title="Maximum amount of time to wait for a track's audio source to load.")
          |  Advance to next source after 
          input(type="number", data-for="max-source-load-time", value="1000", min="0", style="width: 4em;")
          | ms

        h4 Notifications
        label(title="Enable desktop notifications on mention.")
          input(type="checkbox", data-action="toggle-notifications")
          |  Enable Notifications

        h4 Behavior
        label
          input(type="checkbox", data-action="toggle-target-blank")
          |  Always Open Links in New Window
        label
          input(type="checkbox", data-action="toggle-link-warning")
          |  Warn Before Interrupting Music

      .modal-footer
        button.btn.btn(data-dismiss="modal") Cancel
        button.btn.btn-primary.btn-large(data-dismiss="modal") Done

    block scripts

    #search-modal.modal.hide.fade
      .modal-header
        button.close(data-dismiss="modal") &times;
        h3 Track Search
      .modal-body
        form(data-for="track-search")
          .btn-group.pull-right
            a.btn(data-for="track-search-select-source", data-data="youtube") YouTube
            a.btn(data-for="track-search-select-source", data-data="soundcloud") SoundCloud
            a.btn(data-for="track-search-select-source", data-data="playlists") Playlists
          
          .input-append
            input(type="text", data-for="track-search-query")
            .add-on.btn(data-for="track-search-reset")
              i.icon-remove

        ul.nav.nav-list.search-results(data-for="track-search-results")

      .modal-footer
        button.btn.btn(data-dismiss="modal") Cancel
        button.btn.btn-primary.btn-large(data-dismiss="modal") Done


    if (!user)
      script.
        registered = false;
    else
      script.
        registered = true;

      form#edit-track-modal.modal.hide.fade(data-for="edit-track")
        input(type="hidden", name="trackArtistID")

        .modal-header
          button.close(data-dismiss="modal") &times;
          h3 Edit Track
        .modal-body(style="min-height: 20em;")
          label(for="artist") Track Artist
          input.input-block-level.typeahead(type="text", name="artist", data-remote="/artists?q=%QUERY")

          label(for="title")
            a.btn.btn-mini.pull-right(href="#", data-for="swap-artist-title")
              i.icon-resize-vertical
              |  swap
            | Track Title
          input.input-block-level(type="text", name="title")
          //-.row-fluid
            label.span3 Start
            label.span3 End
          //-.row-fluid
            input.span3(type="number", name="startTime")
            input.span3(type="number", name="endTime")

          label(for="titles") Known Titles (for easy copypasta)
          pre(data-for="titles")

          label
            input(type="checkbox", data-action="track-flag-nsfw", data-context="track", data-track-id)
            |  NSFW (not safe for work)

          label
            input(type="checkbox", data-action="track-flag-live", data-context="track", data-track-id)
            |  Live Performance (only check if the audio is live, not the video)

        .modal-footer
          button.btn.btn(data-dismiss="modal") Cancel
          button.btn.btn-primary.btn-large(type="submit") Save Changes &raquo;

      #playlist-modal.modal.hide.fade
        .modal-header
          button.close(data-dismiss="modal") &times;
          h3 Your Sets
        .modal-body
          .row-fluid
            .span12
              i.icon-globe(title="public")
              ul.nav.nav-list(data-for="user-playlists")
                for playlist in user.playlists
                  li(data-playlist-id="#{playlist._id}")
                    a(href="/#{user.slug}/#{playlist.slug}")
                      small.pull-right #{playlist._tracks.length}
                      input(type="checkbox", data-action="toggle-playlist-visibility", data-playlist-id="#{playlist._id}", checked=(playlist.public ? "checked" : undefined))
                      |  #{playlist.name}
        .modal-footer
          button.btn.btn(data-dismiss="modal") Cancel
          button.btn.btn-primary.btn-large(data-dismiss="modal") Done
    
      form#create-playlist-form(action="/#{user.slug}/playlists", method="post")
        input(type="hidden", name="trackID")
        input(type="hidden", name="current-track-id")
        
        #create-playlist-modal.modal.hide.fade
          .modal-header
            button.close(data-dismiss="modal") &times;
            h3 Create Playlist
          .modal-body
            label(required="required") Name
            input(type="text", name="name")

            label(required="required") Description
            textarea(type="text", name="description")

            label
              input(type="checkbox", name="status", value="public", checked)
              |  
              i.icon-globe
              |  Public

            h4 You'll be adding the following track:
            h5(data-for="track-name")
              span.track-artist foo
              |  &mdash; 
              span.track-title bar
              
              div(data-for="track-preview")

          .modal-footer
            button.btn.btn(data-dismiss="modal") Cancel
            button.btn.btn-primary.btn-large(type="submit") Create Playlist &raquo;
