!!! 5
html(lang="en-US", ng-app)
  head
    title soundtrack.io | music for all.

    link(rel="shortcut icon", href="/favicon.ico")

    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/darkstrap-v0.9.0.css")
    //-link(rel="stylesheet", href="/css/bootstrap-custom.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/slider.css")
    link(rel="stylesheet", href="/css/introjs.css")
    link(rel="stylesheet", href="/css/main.css")

    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/angular.min.js")
    script(src="/js/d3.min.js")
    script(src="/js/bootstrap.slider.js")
    script(src="/js/jquery.cookie.js")
    script(src="//www.google.com/jsapi")
    script(src="/js/swfobject.js")
    script(src="/js/intro.js")
    script(src="/js/sockjs-0.3.min.js")
    script(src="/js/app.js")

    base

  body(ng-controller="AppController")

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
            i.icon-bar
            i.icon-bar
            i.icon-bar
          a.brand(href="/") soundtrack.io
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="/", ng-class="{active: slug == ''}") Home
              li
                a(href="/about", ng-class="{active: slug == 'about'}") About
              li
                a(href="/history", ng-class="{active: slug == 'history'}") History
              li
                a(href="/artists", ng-class="{active: slug == 'artists'}") Artists
              li
                a(href="/tracks", ng-class="{active: slug == 'tracks'}") Tracks
              if (user)
                li
                  a(href="/people") People

            ul.nav.pull-right
              if (user)
                li.dropdown
                  a(href="#settings-modal", data-toggle="modal")
                    i.icon-white.icon-cog
                li
                  a(href="/#{user.slug}", data-username="#{user.username}", data-for="user-model")
                    img.user-avatar-small(src="#{user.avatar.url}")
                    | #{user.username}
                li
                  a(href="/logout") Logout
              else
                form.navbar-form(action="/login", method="post")
                  input.span2(type="text", placeholder="Username", name="username")
                  input.span2(type="password", placeholder="Password", name="password")
                  button.btn.btn-primary(type="submit") Sign In &raquo;
                  a.btn(href="/register") Register &raquo;

    .container.module
      if (typeof(flash) != 'undefined')
        .messages
          if (typeof(flash.error) != 'undefined')
            for error in flash.error
              .alert.alert-error !{error}
          if (typeof(flash.info) != 'undefined')
            for info in flash.info
              .alert.alert-info !{info}

      block content

    footer
      .container
        h5 About
        p &#9835; soundtrack.io is a <a href="https://www.gittip.com/for/soundtrack-io/">collaborative</a> online jukebox.  It's a way to listen to music with your friends.  It's also <a href="http://github.com/martindale/soundtrack.io">open-source</a>, as is our <a href="https://play.google.com/store/apps/details?id=io.soundtrack">Android Client</a> (<a href="http://github.com/martindale/soundtrack.io-android">source</a>).

        a(href="/enabled-notifications", data-action="ding") ding

    #settings-modal.modal.hide.fade
      .modal-header
        button.close(data-dismiss="modal") &times;
        h3 Settings
      .modal-body
        label
          input(type="checkbox", data-action="toggle-notifications")
          |  Enable Notifications

        label
          input(type="checkbox", data-action="toggle-target-blank")
          |  Always Open Links in New Window
        label
          input(type="checkbox", data-action="toggle-link-warning")
          |  Warn Before Interrupting Music

      .modal-footer
        button.btn.btn(data-dismiss="modal") Cancel
        button.btn.btn-primary.btn-large(data-dismiss="modal") Done

    block scripts