extends layout

block content

  .well.content-well
    h1 #{people.length} #{(people.length == 1) ? "Person" : "People"} on soundtrack.io

    ul
      each person in people
        li
          a(href="/#{person.slug}")
            img.user-avatar-small(src="#{person.avatar.url}")
            | #{person.username}
          if (person.bio.length)
            | 
            i.icon-user
          if (person.profiles && person.profiles.lastfm && person.profiles.lastfm.username)
            | 
            a(href="http://last.fm/user/#{person.profiles.lastfm.username}")
              img(src="/img/last.fm.ico", title="#{person.profiles.lastfm.username}")
          if (person.profiles && person.profiles.spotify && person.profiles.spotify.id)
            | 
            a(href="https://play.spotify.com/user/#{person.profiles.spotify.id}")
              img(src="/img/spotify.png", title="#{person.profiles.spotify.id}")
          if (person.profiles && person.profiles.changetip && person.profiles.changetip.id)
            | 
            a(href="https://www.changetip.com/tipme/#{person.profiles.changetip.username}")
              img(style="max-height: 16px;", src="/img/changetip.png", title="#{person.profiles.changetip.username}")
