extends layout

block content
  - if (typeof(user) != 'undefined' && user._id.toString() == person._id.toString())
    a.btn.pull-right(data-action="enable-profile-editor") EDIT!

    form#profile-editor(action="/#{user.slug}", method="post", style="display:none;")
      textarea.input-block-level(name="bio", rows="3") #{person.bio}
      button.btn.btn-primary(type="submit") Make Changes &raquo;

  h1 #{person.username}
  .bio
    | !{marked(person.bio)}

  h3 Public Playlists 
    ul.nav.nav-list
      for playlist in playlists
        li
          h4
            a(href="/#{person.slug}/#{playlist.slug}") #{playlist.name}
          p #{playlist.description}

