extends layout

block content
  h1 #{count} Plays By <a href="/#{person.slug}">#{person.username}</a>
    if (room)
      |  in <a href="#{room.index}">#{room.name}</a>
  
  if (limit < count)
    h2 Showing #{ plays.length } most recent
    p add <code>?limit=n</code> parameter to list more.

  table.table.tablesorter
    thead
      tr
        th Who
        th When
        th Artist
        th Title
        th Room
        th Controls
    tbody
      for play in plays
        include partials/play-row
