extends layout

block content
  h1 #{person.username}
  .bio
    | !{sanitize(lexers.content.output(person.bio)).xss()}

  h3 Public Playlists 
    ul.nav.nav-list
      for playlist in playlists
        li
          h4
            a(href="/#{person.slug}/#{playlist.slug}") #{playlist.name}
          p #{playlist.description}

    - if (typeof(user) != 'undefined' && user._id.toString() == person._id.toString())
      a.btn EDIT!

      form(action="/#{user.slug}", method="post")
        textarea.input-block-level(name="bio", rows="3") #{person.bio}
        button.btn.btn-primary(type="submit") Make Changes &raquo;