extends layout

block content

  .well.content-well
    h1
      a(href="/#{playlist._creator.slug}/#{playlist.slug}") #{playlist.name}
      |  by 
      a(href="/#{playlist._creator.slug}") #{playlist._creator.username}
    p #{playlist.description}

    table.table.tablesorter
      thead
        tr
          th Artist
          th Title
          th Length
          th Plays
          th Controls
      tbody
        for track in playlist._tracks
          include partials/track-row
