extends layout

block content
  .well.content-well
    h1 Rooms
    
    form(action="/rooms", method="post")

      label(for="slug") URL
      input(type="text", name="slug").span2
      | .soundtrack.io
      
      label(for="name") Name
      input(type="text", name="name")
        
      input.btn(type="submit") submit
    
    table.table.tablesorter
      thead
        tr
          td Room
          //-td Host
          td Currently
          td Listeners
      tbody
        for room in rooms
          tr
            td
              h3
                a(href="//#{room.slug}.#{config.app.host}") #{room.name}
                p !{marked(room.description || '')}
            //-td #{room._owner.username}
            td
              h5 #{room.track.title} by #{room.track._artist.name}
            td
              h5 <abbr>#{Object.keys(room.listeners).length} listeners</abbr>
