extends layout

block content
  .well.content-well
    a.btn.btn-mini.pull-right(href="#", onclick="$('#room-creation-form').slideDown(); return false;") new
    h1 Rooms
    
    form#room-creation-form(action="/rooms", method="post").span12.hide
      label(for="slug") URL
      input(type="text", name="slug").span2
      | .soundtrack.io
      
      label(for="name") Name
      input(type="text", name="name")
      
      label(for="description") Description (markdown-enabled)
      textarea(name="description")
      .clearfix
      input.btn.offset1(type="submit", value="create »");
    
    table.table.tablesorter
      thead
        tr
          td Room
          //-td Host
          td Currently
          td Listeners
      tbody
        for room in rooms
          tr
            td
              h3
                a(href="//#{room.slug}.#{config.app.host}") #{room.name}
                p !{marked(room.description || '')}
            //-td #{room._owner.username}
            td
              h5 #{room.track.title} by #{room.track._artist.name}
            td
              h5 <abbr>#{Object.keys(room.listeners).length} listeners</abbr>
