extends layout

block content
  .well.content-well
    
    h1 Music for everyone.
    h2 Listen to music with your friends.
    
    p.span6(style="font-size: 1.2em; line-height: 1.75em;") We are an <em>experimental</em> Internet radio platform.  Vote on what plays next, like Reddit for music.  We aggregate streams from sources like YouTube and SoundCloud, so when you pick a song, <em>it just plays</em>.
    
    p.span6(style="font-size: 1.2em; line-height: 1.75em;") We're also <a href="http://github.com/martindale/soundtrack.io">completely open-source</a>.
    
    .clearfix
    
    a.btn.pull-right(href="#", onclick="$('#room-creation-form').slideDown(); return false;") new
    h2 Rooms
    
    form#room-creation-form(action="/rooms", method="post").span12.hide
      label(for="slug") URL
      input(type="text", name="slug").span2
      | .soundtrack.io
      
      label(for="name") Name
      input(type="text", name="name")
      
      label(for="description") Description (markdown-enabled)
      textarea(name="description")
      .clearfix
      input.btn.offset1(type="submit", value="create »");
    
    table.table.tablesorter
      thead
        tr
          td Room
          //-td Host
          td Currently
          td Listeners
      tbody
        for room in rooms
          tr
            td
              h3
                a(href="//#{room.slug}.#{config.app.host}") #{room.name}
                p !{marked(room.description || '')}
            //-td #{room._owner.username}
            td
              h5 #{room.track.title} by #{room.track._artist.name}
            td
              h5 <abbr>#{Object.keys(room.listeners).length} listeners</abbr>
