extends layout

block content

  .well.content-well
    h1 #{count} #{(count == 1) ? "Track" : "Tracks"} Known
    p Ordered by number of plays.  Display limited to #{limit} tracks.  Pass <code>limit</code> to change this.

    ul
      for track in tracks
        li
          if (track._artist)
            a(href="/#{track._artist.slug}") #{track._artist.name}
            |  &mdash; 
            a(href="/#{track._artist.slug}/#{track.slug}/#{track._id}") #{track.title}
          else
            h5 ಠ_ಠ #{track}